.centered-container {
  height: 100vh;
  display: flex;
  padding: 100px 0px 0px 0px;
}

.task-grid-border {
  border: 2px solid #d4d4d5;
  border-radius: 5px;
  padding: 20px;
}

/** UI Utils **/
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.scrollable-container {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 4px; /* Border radius of the scrollbar track */
}

.scrollable-container::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1; /* Color of the scrollbar track on hover */
}

.tasks-container {
  padding: 10px;
}

/** Layout Utils **/
.pl-2 {
  padding-left: 0.5rem;
}
